.classPageFlexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1250px;
    margin-top: 5%;
    margin-left: 10%;

}

.classBoxFlexItem {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 215px;
    width: 180px;
    margin: 2.5%;
    


}

.classCodeArea {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #E2DDEB;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; 
    padding-top: 10px;
    align-items: center;
    margin-top: -10%;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 24;

    
}

.classWhiteArea {
    display: flex;
    flex-direction: column;
    height: 200px;
   /*  background-color: aqua; */
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    
}