/* Container style to align content */
.createNoticesContainer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px; /*Creates gap between notice and button */
    margin: 50px 200px;
    justify-content: center;
    gap: 20px; /*Gap between the notice and the bin icon */
    align-items: flex-start;
    background-color: blue;
}

/* Title styling for notice */
.inputNoticeTitle {
    display: block;
    width: 100%;
    font-size: 30px;
    padding: 8px 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #E2DDEB;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-bottom: #988EB1 solid 7px;
}

/* Input notice content wrapper */
.noticeForm {
    height: 100%;
    background-color: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.inputNoticeContent {
    width: 100%;
    height: 500px;
    font-size: 15px;
    padding: 15px; /* For the text */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box; /* includes padding into the height and width */
    resize: none;
    overflow-y: auto;
    line-height: 1.5;
    border: none;
}

.noticeBox {
    flex: 100%;
    box-sizing: border-box;
    min-height: 500px;
    border: #988EB1 solid 7px;
    border-radius: 33px;
    gap: 10px;
}

/* Styles notice's text */
.noticeBox p {
    margin: 0;
    padding: 40px 20px;
}

/*Upload notice button */
.uploadButton {
    background-color: #ffffff;
    border: 4px solid #988EB1;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
    cursor: pointer;
}

/* The styling of the text fields when users click on them */
input:focus,
textarea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*Adding the bottom border of the title even when clicked */
input:focus {
    border-bottom: 7px solid #988EB1;
}

.iconColumn {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}