/* Container style to align content */
.dashboardContainer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px; /*Creates gap between content */
    column-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
/* Heading styling of each section */
.sectionTitle {
    display: block;
    font-size: 20px;
    padding: 20px 10px 20px 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #E2DDEB;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Date styling */
.date {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-color: #988EB1;
    border-width: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

/* Calendar box styling */
.calendarFlex {
    flex: 55%;
    background-color: ffffff;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 6px;
    box-sizing: border-box;
    min-height: 530px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendarHeaderRow{

    height:18%;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Staff absences box styling */
.staffAbsences {
    flex: 20%;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color:ffffff ;
    text-align: center;
    padding: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 380px;
}

/* Announcements box styling */
.announcements {
    flex: 55%;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: ffffff;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 370px;
}

/*Current birthdays box styling */
.birthdays {
    flex: 20%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: ffffff ;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 370px;
}