/* Side nav menu */
.sideNav {
    height: 100%;
    width: 320px; /* Changes with JavaScript */
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #988EB1;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s; /* Adds transition effect */
}

/* IRIS logo position */
.irisLogo {
    height: 36px;
    width: auto;
    position: absolute;
    top: 0;
    left: 25px;
    margin-right: 50px;
    padding-top: 5%;
}

/* User profile container */
.userProfile {
    background-color: blue;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    justify-content: center; /* centers vertically */
    gap: 10px; /* Adds space between items */
}

/* User prfile image */
.userProfileImg {
    height: 100px;
    width: 100px; 
    object-fit: cover; /* Ensures the image cover the box */;
    background-color: yellow;
    border-radius: 50%;
    border: 3px solid white
}

/* User name box */
.username {
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    color:#000000;
    font-size: 20px;
    width: 80%;
}

/* Nav links */
.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    opacity: 85%;
    display: block;
    transition: 0.3s; /* Adds transition effect */
}

/* Changing colour of links when hovered over */
.sideNav a:hover {
    color: red;
}

/* Positioning the nav items */
.navItem {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between icon and text */
}

/* Icon sizing */
.navIcon {
    height: 50px;
    width: auto;
}

/* Nav item text */
span {
    font-size: 20px;
    cursor: pointer;
}

/* Close button postion and style */
.sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Pushing page content to the right when nav opened */
#container {
    transition: margin-left .5s;
    padding: 20px;
    color: blue;
    margin-left:  320px;
}