/* Container style to align content */
.noticeContainer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 15px; /*Creates gap between content */
    column-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: 50px 200px;
}

.noticeMainContentWrapper, .noticeContentWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.buttonContainer {
    display: flex;
    /*justify-content: flex-end; */
    margin-top: 10px;
}

/*Create notice button */
.createButton, .yourNoticeButton {
    background-color: #ffffff;
    color: #000000;
    border: 4px solid #988EB1;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 5px;
    text-decoration: none;
}

.createButton {
    margin-left: 50px;
}

/* Title styling for each notice */
.noticeTitle {
    display: block;
    font-size: 30px;
    padding: 8px 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #E2DDEB;
    box-sizing: border-box;
    flex: 100%;
    text-align: center;;
}

/* Notice content wrapper */
.noticeContent {
    width: 100%;
    background-color: #ffffff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.noticeBox {
    flex: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    min-height: 100px;
    gap: 10px;
}

/* Styls notice's text */
.noticeBox p {
    margin: 0;
    padding: 40px 20px;
}

/* HIding delte icon button styling */
.deleteIcon {
    background: none;
    border: none;
    cursor: pointer;
}

.iconColumns {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 10px;
}