.container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-template-areas:
    "side topbanner"
    "side cont";
}
.top
{
    grid-area: topbanner;
    width: 100%; 
}
.side
{
    grid-area: side;
    width: 100%;
}
.content {
    position: absolute;
    top: 200px;
    margin-left: 17%;
    width: calc(100% - 17%);
    height: 100%;
}
.content.collapsed {
  margin-left: 5%;
  width: calc(100% - 5%);
}
.section
{
    height: 100%;
    width: 100;
    display: none;
}
.section.active
{
    display: block;

    /* Profile styling starts  */
}
.profile.active { /* I changed profile to profile.active so it wouldn't break the other profile pages by overriding them with profile styling */
    display: flex; 
    flex-direction: column; 
    margin-top: 2.5%;
    margin-right: 1%;
    height: 100%;
    background-color: #F3F2F2;
}


.studentDetailsContainer, 
.medicalDetailsContainer{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem; 
}

.containerHeaderArea{
    background-color:#E2DDEB;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-top: 0%;
    padding-bottom: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chaItem1{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    padding-left: 18%;
    font-size: 25px;
}

.chaItem2,
.chaItem2M{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    padding-left: 42%;
    font-size: 25px;
    font-weight: bold;
}

.chaItem2M{
    padding-left: 36%;
}

.containerBody{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: auto;
}

.leftDetailsGrid{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%;
    width: 46%;
    justify-content: center;
    background-color: white;
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.itemleft,
.itemtopleftcorner,
.itembottomleftcorner {
    border-top: 3px solid #BCBCBC;
    text-align: right;
    padding-right: 15%;
    font-family: 'Inter', sans-serif;
}

.itemright, 
.itemtoprightcorner,
.itembottomrightcorner {
    border-top: 3px solid #BCBCBC;
    border-left: 3px solid #BCBCBC;
    padding-left: 6%;
    font-family: 'Inter', sans-serif;
}

.itembottomleftcorner{
    border-bottom: 3px solid #BCBCBC;
}

.itembottomrightcorner{
    border-bottom: 3px solid #BCBCBC;
}

.leftRightDivide{
    width: 3px;
    background-color:#E2DDEB;
}

.rightDetailsWarnings,
.rightDetailsMedical {
    background-color: white;
    width: 50%;
    align-self: right;
}

.importantFlag,
.medicalIncidents{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

/* .flagIcon{
    height: 20px;
    width: 20px;
    
} */

.importantFlagDescription{
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-right: 10%;
}

.divideFlags{
    height: 4px;
    width: 95%;
    background-color: #BCBCBC;
}
.residenceCaregiverDetailsContainer{
    display: flex;
    flex-direction: column;
    height: auto;
}

.chaItem3{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    padding-left: 39.5%;
    font-size: 25px;
}

.containerBodyLeftRCDC,
.containerBodyRightRCDC{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.leftHeader,
.rightHeader{
    display: grid;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.leftAddress, 
.rightAddress{
    display: grid;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.leftDetailsGridRCDC,
.rightDetailsGridRCDC{
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    width: 90%;
    justify-content: center;
    background-color: white;
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}


/* End change  */
.extracurrilars
{
    background-color: blue;
}