.timetable
{
    width: 100%;
    height: 100%;
    justify-content: center; 
    display: none;
}
.timetable.active
{
    display: flex;
}
.timetable_view
{
    width: 800px;
    height: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    display: grid;
}
.modifybutton
{
    display: flex;
    height: 100%;
}
.modify
{
    background-color: white;
    border: 1px solid #988EB1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.modify:hover
{
    background-color: #988EB1;
    color: white;
}
.modify.active
{
    background-color: #988EB1;
    color: white;
}
.viewtable
{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    width: max-content;
    height: max-content;
}
.cell
{
    border: solid 2px black;
    width: 125px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.viewed,.modified
{
    display: none;
}
.viewed.active,.modified.active
{
    display: flex;
}
.selection
{
    text-align: center;
}