<title>Academic Reports</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/academic.css') }}">
<script src="{{ url_for('static', filename='javascript/academic.js') }}"></script>
<div class="academic list" data-id='list'>
    <div class="add">
        <img class="search-icon" src="static/images/icons/add.png" alt="search icon" onclick="academic_background('submit')">
    </div>
</div>
<div class="academic submit" data-id='submit'>

</div>
<div class="academic view" data-id='view'>

</div>