<title>Academic Reports</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/academic.css') }}">
<script src="{{ url_for('static', filename='javascript/academic.js') }}"></script>
<div class="academic list" data-id='list'>
    <div class="add">
        <img  src="static/images/icons/add.png" alt="search icon" onclick="academic_background('submit')">
    </div>
    <div class="list_container">
        <div class="year_list">
            year
        </div>
        <div class="academic_list">
            <div class="filter">

            </div>
            <div class="filter_header">
                <div class="filter_date">
                    Title
                </div>
                <div class="filter_date">
                    Date
                </div>
            </div>
            <div class="list_term" onclick="academic_background('view')">
                <div class="list_term_title">
                    Title
                </div>
                <div class="list_term_date">
                    Date
                </div>
            </div>
        </div>
    </div>
</div>
<div class="academic submit" data-id='submit'>
    <div class="submit_form">
        <div class="submit_form_report">
            <
        </div>
        <div class="submit_form_file">

        </div>
    </div>
    <div class="submit_upload">
        <div class="submit_upload_button" onclick="">
            Upload
        </div>
    </div>
</div>
<div class="academic view" data-id='view'>

</div>