<!DOCTYPE html>
<head>

    <!--Linking style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingClassDisplay.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}

<!--Page titles-->
{% block title %}Assessments{% endblock %}

{% block pageName %}Assessments{% endblock %}

<!--Page's content-->
{% block content %}

    <div class="classPageFlexContainer">

        {% for class in myClasses %}

            <div class="classBoxFlexItem">
                <div class="classCodeArea">
                {{ class.code }}
                </div>
                <div class="classWhiteArea">
                    <br><br>{{user.name}}<br><br>{{class.subject}}
                </div>
            </div> 

        {% endfor %}
        <br>



    </div>

    <div class="classDivide">
    </div>

    <div class="classPageFlexContainer2">

        {% for class_, teacher_name in otherClasses %}

            <div class="classBoxFlexItem2">
                <div class="classCodeArea2">
                {{ class_.code }}
                </div>
                <div class="classWhiteArea2">
                    <br><br>{{teacher_name}}<br><br>{{class_.subject}}
                </div>
            </div> 

        {% endfor %}

    </div>

{% endblock %}

</body>
