<!--Linking style sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/assessmentLanding.css') }}">

<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}

<!--Page titles-->
{% block title %}Assessments{% endblock %}

{% block pageName %}Assessments{% endblock %}

<!--Page's content-->
{% block content %}

    <div class="classPageFlexContainer">

        {% for class in myClasses %}

            <div class="classBoxFlexItem">
                <div class="classCodeArea">
                {{ class.code }}
                </div>
                <div class="classWhiteArea">
                    <br><br>Mr. Doe<br><br>Room 6
                </div>
            </div> 
            


        {% endfor %}

    </div>

{% endblock %}
