<link rel="stylesheet" href="{{ url_for('static', filename='css/communicationcenter.css') }}">
<script src="{{ url_for('static', filename='javascript/communicationcenter.js') }}"></script>
<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}
{% block title %}Comunication Center{% endblock %}
{% block pageName %}Communication Center{% endblock %}
{% block content %}
<input type="hidden" id="user_id" value="{{ user.id }}">
<div class="message_container" id="message">
    <div class="message_container_top">
        <div class="message_send">
            <div class="message_button direct" onclick="changeDisplay('list')">
                Direct Message
            </div>
            <input type="checkbox" id="toggle_search" hidden/>
            <label for="toggle_search" class="message_button searchuser" onclick="searchon()">
                Send Direct
            </label>
            <input type="checkbox" id="target_lock" hidden/>
            <div class="target_display" id="target_display">
                <input type="number" id="target_id" hidden/>
                <div class="target_name" id="target_name">
                    Name
                </div>
                <div class="target_button" onclick="send()">
                    Send
                </div>
            </div>
            <div class="search_user">
                <div class="usersearch-bar">
                    <input class="usersearch-input" type="text" id="usersearch" placeholder="Search User">
                    <ul class="usersearch-result" id="usersearch-result"></ul>
                </div>
            </div>
        </div>
        <div class="message_template">
            Emailing multiple recipients?
            <div class="template_button">
                Use Email Template
            </div>
            <img class="info_icon" src="{{ url_for('static', filename='images/icons/Information.png') }}" alt="Info icon">
            <div class="info_template">
                Using an Email Template lets you write one email to be personalised for multiple recipients. This is particularly useful when sending the same email to multiple parents.
                <br>
                <br>
                To use the template, select placeholders such as the recipients name, student’s name, or pronouns. These will be filled automatically upon sending. 
            </div>
        </div>
    </div>
    <div class="message_container_middle">
        <div class="draft_header">
            Draft Message
        </div>
        <div class="draft_subject">
            <input class="subject_input" type="text" id="subject" name="subject" placeholder="Add a subject">
        </div>
        <div class="draft_message">
            <textarea class="message_input" type="text" id="messagetext" name="message"placeholder="Write message"></textarea>
        </div>
    </div>
    <div class="message_container_bottom">
        <div class="recipients">
            Add Recipient/s
        </div>
    </div>
</div>
<div class="list_container" id="list">
    <div class="list_container_button">
        <div class="list_message_button" onclick="changeDisplay('message')">
            Send Message
        </div>
    </div>
    <div class="content_list">
        <div class="list_header">
            Message
        </div>
        <div class="list_message">
            <div class="list_message_container" id="list_container">
                <div class="list_message_container_top">
                    <div class="list_name" id="sender">
                        name
                    </div>
                    <div class="list_date" id="date">
                        date
                    </div>
                </div>
                <div class="list_message_container_bottom" id="title">
                    Title
                </div>
            </div>
        </div>
    </div>
    <div class="content_view">

    </div>
</div>
<div class="view_container" id="view">

</div>
{% endblock %}