<!--Linking style sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}

<!--Page titles-->
{% block title %}Dashboard{% endblock %}

{% block pageName %}Dashboard{% endblock %}

<!--Page's content-->
{% block content %}

<div class="dashboardContainer">
    <!--Printing the current date-->
    <div class="date">{{ currentDate.strftime('%A, %d %B, %Y') }}</div>
    <!--The users calender-->
    <div class="calendarFlex">

        <div class="calendarHeaderRow">

            <div class="dayIcon">
                View day
            </div>

            <div class="dayText">
                View day
            </div>

            <div class="toggleButton">
                Button
            </div>

            <div class="week">
                View week
            </div>

        </div>

        <div class="calendarContentGrid">
            <div class="gridItem">1</div>
            <div class="gridItem">2</div>
            <div class="gridItem">3</div>
            <div class="gridItem">4</div>
            <div class="gridItem">5</div>
            <div class="gridItem">6</div>
            <div class="gridItem">7</div>
            <div class="gridItem">8</div>
            <div class="gridItem">9</div>
            <div class="gridItem">10</div>
            <div class="gridItem">11</div>
            <div class="gridItem">12</div>
            <div class="gridItem">13</div>
            <div class="gridItem">14</div>
            <div class="gridItem">15</div>
            <div class="gridItem">16</div>
            <div class="gridItem">17</div>
            <div class="gridItem">18</div>
            <div class="gridItem">19</div>
            <div class="gridItem">20</div>
            <div class="gridItem">21</div>
            <div class="gridItem">22</div>
            <div class="gridItem">23</div>
            <div class="gridItem">24</div>
            <div class="gridItem">25</div>
            <div class="gridItem">26</div>
            <div class="gridItem">27</div>
            <div class="gridItem">28</div>
            <div class="gridItem">29</div>
            <div class="gridItem">30</div>

        </div>

    </div>
    <!--Staff Absences box-->
    <div class="staffAbsences">
        <span class="sectionTitle">Staff Absences</span>
        <p>Hannah Abott</p>
    </div>
    <!--Announcements box-->
    <div class="announcements">
        <span class="sectionTitle">Announcements</span>
        <p>The bathroom in C Block is out of order due to maintenance</p>
    </div>
    <!--Birthdays box-->
    <div class="birthdays">
        <span class="sectionTitle">Birthdays</span>
        <p>Jason Mendoza - Turning 16</p>
        <p>Chole Marsden - Turning 14</p>
    </div> 
</div>

<script src="{{ url_for('static', filename='javascript/calendar.js') }}"></script>

{% endblock %}


