<!--Linking style sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}

<!--Page titles-->
{% block title %}Dashboard{% endblock %}

{% block pageName %}Dashboard{% endblock %}

<!--Page's content-->
{% block content %}

<div class="dashboardContainer">
    <!--Printing the current date-->
    <div class="date">{{ currentDate.strftime('%A, %d %B, %Y') }}</div>
    <!--The users calender-->
    <div class="calendarFlex">

        <div class="calendarHeaderRow">

            
            <img class="dayIcon" src="{{ url_for('static', filename='images/icons/dayIcon.png') }}" alt="day-calendar icon">
            
            <div class="dayText">
                View day
            </div>

            <!-- This will eventually be an actual toggle - for now it's a placeholder image -->
            <img class="toggleIcon" src="{{ url_for('static', filename='images/icons/toggleIcon.png') }}" alt="toggleIcon"> 

            <div class="weekText">
                View week
            </div>

            <img class="weekIcon" src="{{ url_for('static', filename='images/icons/weekIcon.png') }}" alt="week-calendar icon">

        </div>

    <a href="/takeAttendance" style="text-decoration: none; color: inherit; display: block; height: 85%; margin-top: 4%;">
    <div class="calendarContentGrid"> 
        <!-- Row 1 -->
        <div class="gridItem time-slot">08:30am</div>
        <div class="gridItem period-label" data-period="sod">SoD</div>
        <div class="gridItem class-info" data-period="sod" data-slot="class"></div> 
        <div class="gridItem time-slot">11:45am</div>
        <div class="gridItem period-label" data-period="3">P3</div>
        <div class="gridItem class-info" data-period="3" data-slot="class"></div>
        
        <!-- Row 2 -->
        
        <div class="gridItem time-slot">09:10am</div>
        <div class="gridItem period-label" data-period="1">P1</div>
        <div class="gridItem class-info" data-period="1" data-slot="class"></div>
        <div class="gridItem time-slot">12:40pm</div>
        <div class="gridItem period-label" data-period="4">P4</div>
        <div class="gridItem class-info" data-period="4" data-slot="class"></div>
        
        <!-- Row 3 -->
        <div class="gridItem time-slot">10:05am</div>
        <div class="gridItem period-label" data-period="2">P2</div>
        <div class="gridItem class-info" data-period="2" data-slot="class"></div>
        <div class="gridItem time-slot">01:30pm</div>
        <div class="gridItem period-label" data-period="int2">Int</div>
        <div class="gridItem class-info" data-period="int2" data-slot="class"></div>
        
        <!-- Row 4 -->
        <div class="gridItem time-slot">10:55am</div>
        <div class="gridItem period-label" data-period="int">Int</div>
        <div class="gridItem class-info" data-period="int"></div>
        <div class="gridItem time-slot">02:05pm</div>
        <div class="gridItem period-label" data-period="5">P5</div>
        <div class="gridItem class-info" data-period="5" data-slot="class"></div>
        
        <!-- Row 5 -->
        <div class="gridItem time-slot">11:20am</div>
        <div class="gridItem period-label" data-period="tut">Tut</div>
        <div class="gridItem class-info" data-period="tut" data-slot="class"> RED 3</div> <!-- Very weird that red3 won't appear - I'll look into this, but it's fine for now -->
        <div class="gridItem time-slot">03:00pm</div>
        <div class="gridItem period-label" data-period="eod">EoD</div>
        <div class="gridItem class-info" data-period="eod" data-slot="class"></div>
    </div>
    
    </div>
    </a>

    <!--Staff Absences box-->
    <div class="staffAbsences">
        <span class="sectionTitle">Staff Absences</span>
        <p>Hannah Abott</p>
    </div>
    <!--Announcements box-->
    <div class="announcements">
        <span class="sectionTitle">Announcements</span>
        <p>The bathroom in C Block is out of order due to maintenance</p>
    </div>
    <!--Birthdays box-->
    <div class="birthdays">
        <span class="sectionTitle">Birthdays</span>
        <p>Jason Mendoza - Turning 16</p>
        <p>Chole Marsden - Turning 14</p>
    </div> 
</div>

<script src="{{ url_for('static', filename='javascript/calendar.js') }}"></script>

{% endblock %}


