<!--Linking style sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/createNotice.css') }}">

<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}

<!--Page titles-->
{% block title %}Notices{% endblock %}

{% block pageName %}Notices{% endblock %}

<!--Page's content-->
{% block content %}

<div class="createNoticesContainer">
    <!--Notice box-->
    <div class="noticeBox">
        <div class="noticeForm">
            <!--Form to edit a notice-->
            <form method="POST" action="{{ url_for('views.editNotice', id=notices.id) }}">
                <input class="inputNoticeTitle" type="text" name="title" value="{{ notices.title }}">
                <textarea class="inputNoticeContent" type="text" name="note" value="{{ notices.note }}">
                <div class="buttonContainer">
                    <!--Update button-->
                    <input type="submit" class="uploadButton" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}