<!--Linking style sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/notice.css') }}">

<!--Inherits from navBase and overrides blocks-->
{% extends "navBase.html" %}

<!--Page titles-->
{% block title %}Notice{% endblock %}

{% block pageName %}Notice{% endblock %}

<!--Page's content-->
{% block content %}

<!--Enabling flashed messages to be shown, for success message-->
<!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %} -->

<div class="noticeContainer">

    <div class="noticeButtonsContainer">
        <!--Create and view notices buttons-->
        <div class="buttonContainer">
            <a class="createButton" href="{{ url_for('views.createNotice') }}">Create Notice</a>
            <a class="yourNoticeButton" href="{{ url_for('views.yourNotices') }}">Your Notices</a>
            {% if showOnlyYourNotices %}
                <a class="allNoticesButton" href="{{ url_for('views.viewNotice') }}">All Notices</a>
            {% endif %}
        </div>
    </div>

    <!--Loop to display all the notices-->
    {% for notices in allNotices %}
    <!--Notice box-->
    <div class="noticeBox">

        <!--Columns for the icons - only shows if it's the user's notice-->
        {% if notices.author == user.id %}
        <div class="iconColumns">
            
                <!--Edit icon that redirects to edit notice page-->
            <a href="{{ url_for('views.editNotice', id=notices.id) }}" class="editIcon">
                <img src="{{ url_for('static', filename='images/icons/editPencil.png') }}" alt="Edit icon">
            </a>

            <!--Delete icon that deletes a notice-->
            <form method="POST" action="/deleteNotice">
                <input type="hidden" name="id" value="{{ notices.id }}">
                <button type="submit" class="deleteIcon">
                    <img src="{{ url_for('static', filename='images/icons/deleteBin.png') }}" alt="Bin icon">
                </button>
            </form>
        </div>
        {% endif %}

        <!--Content wrapper used to align the notices and the buttons-->
        <div class="noticeContentWrapper">
            <!--Viewing the notices-->
            <div class="noticeContent">
                <!--Notice title-->
                <span class="noticeTitle">{{notices.title}}</span>
                <!--Notice content-->
                <p>{{notices.note | replace('\n', '<br>') | safe}}</p> <!--Prints the whitespace/formatting-->
            </div>
        </div>
        
    </div>
    {% endfor %} <!--End of for loop to display notices-->
</div>

{% endblock %}