<!--This page get included in the student page-->


<!--Page titles-->
<title>Pastoral</title>

<!--Page's content-->

<!--Linking style sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/pastoralStudentReports.css') }}">

<!--Contetnt container-->
<div class="pastoralContainer">

    <!--Merit report container-->
    <div class="meritReportsContainer">
        <!--Merit report tilte-->
        <div class="meritTitle">
            mtitle
        </div>

        <!--Merit report content-->
        <div class="meritContentContainer">

            <!--Sort and filter container-->
            <div class="sortFilterContainer">
                    <!--Filter-->
                <div class="filter">
                    <p>Filter by Type: </p>
                </div>

                <!--Sort-->
                <div class="sort">
                    <p>Sort by: </p>
                </div>
            </div>
            

            <!--Header-->
            <div class="headerContainer">
                <p class="left">Title</p>
                <p class="center">Author</p>
                <p class="right">Date</p>
            </div>

            <!--Loop to display all merit reports-->

            <!--Merit report box layout-->
            <div class="meritReportBox">
                <p>Title Name</p>
                <p>Author Name</p>
                <p>Date Name</p>
            </div>
        </div>

    </div>



    <!--Incident report container-->
    <div class="incidentReportsContainer">
        <!--Incident report title-->
        <div class="incidentTitle">
            ititle
        </div>

        <!--Incident report content-->
        <div class="incidentContentContainer">
            
            <!--Sort and filter container-->
            <div class="sortFilterContainer">
                    <!--Filter-->
                <div class="filter">
                    <p>Filter by Type: </p>
                </div>

                <!--Sort-->
                <div class="sort">
                    <p>Sort by: </p>
                </div>
            </div>
            

            <!--Header-->
            <div class="headerContainer">
                <p class="left">Title</p>
                <p class="center">Author</p>
                <p class="right">Date</p>
            </div>

            <!--Loop to display all merit reports-->

            <!--Merit report box layout-->
            <div class="meritReportBox">
                <p>Title Name</p>
                <p>Author Name</p>
                <p>Date Name</p>
            </div>
        </div>

    </div>

</div>


