<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
        <script src="{{ url_for('static', filename='javascript/student.js') }}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!--Title that children can override-->
        <title>{% block title %}Academic Reports{% endblock %}</title>
    </head>
    <body>
        <input type="hidden" id="studentId" value="{{ student_id }}">
        <div class="container">
            <div class="top">
                {% include 'topbanner.html' %}
            </div>
            <div class="side">
                {% include 'navBase2.html' %}
            </div>
            <div class="content" id="content">
                <div class="section profile active" data-id="profile">
                    <!-- Start additions  -->
                        <div class="studentDetailsContainer">

                            <div class="containerHeaderArea">
                                <div class="chaItem1">
                                    <p>Student Details</p>
                                </div>
                                <div class="chaItem2">
                                    <p>Important</p>
                                </div>
                            </div>
                            <div class="containerBody">
                            
                            <div class="leftDetailsGrid">

                                {% if studentDetails %}

                                    <div class="itemtopleftcorner"><p>Preferred Name</p></div>
                                    <div class="itemtoprightcorner"><p>{{studentDetails.preferred_name | default('-', true) }}</p></div>
                                    <div class="itemleft"><p>Gender</p></div>
                                    <div class="itemright"><p>{{studentDetails.gender | default('-', true) }}</p></div>
                                    <div class="itemleft"><p>Date of Birth</p></div>
                                    <div class="itemright"><p>{{ studentDetails.dob.strftime('%d/%m/%Y') if studentDetails.dob else '14th January 2014' }}</p></div>
                                    <div class="itemleft"><p>School Email</p></div>
                                    <div class="itemright"><p>{{studentDetails.email | default('-', true)}}</p></div> 
                                    <div class="itemleft"><p>Personal Email</p></div>
                                    <div class="itemright"><p>{{studentDetails.personal_email | default('ellazcool@gmail.com', true)}}</p></div>
                                    <div class="itemleft"><p>Home Number</p></div>
                                    <div class="itemright"><p>{{studentDetails.phone_number | default('-', true)}}</p></div>
                                    <div class="itemleft"><p>Mobile Number</p></div>
                                    <div class="itemright"><p>{{studentDetails.mobile_number | default('-', true) }}</p></div>
                                    <div class="itembottomleftcorner"><p>Year Level</p></div>
                                    <div class="itembottomrightcorner"><p>{{studentDetails.year_level | default('-', true)}}</p></div>

                                {% else %}
                                    
                                    <div class="itemtopleftcorner"><p>Preferred Name</p></div>
                                    <div class="itemtoprightcorner"><p>Error: Please select a student</p></div>
                                    <div class="itemleft"><p>Gender</p></div>
                                    <div class="itemright"><p>(plchldr)</p></div>
                                    <div class="itemleft"><p>Date of Birth</p></div>
                                    <div class="itemright"><p>(plchldr)</p></div>
                                    <div class="itemleft"><p>School Email</p></div>
                                    <div class="itemright"><p>(plchldr)</p></div>
                                    <div class="itemleft"><p>Personal Email</p></div>
                                    <div class="itemright"><p>(plchldr)</p></div>
                                    <div class="itemleft"><p>Home Number</p></div>
                                    <div class="itemright"><p>(plchldr)</p></div>
                                    <div class="itemleft"><p>Mobile Number</p></div>
                                    <div class="itemright"><p>(plchldr)</p></div>
                                    <div class="itembottomleftcorner"><p>Year Level</p></div>
                                    <div class="itembottomrightcorner"><p>(plchldr)</p></div>

                                {% endif %}
                                    
                            </div>

                                

                            <div class="leftRightDivide"></div>

                                <div class="rightDetailsWarnings">

                                {% for flag in allFlags %}
<!-- 
                                    <div class="importantFlag">
                                     <img class="flagIcon" src="{{ url_for('static', filename='images/icons/flag.png') }}" alt="Flag icon"> 
                                        <div class="importantFlagDescription"> important note here with a warning flag icon</div>
                                        <div class="divideFlags"> </div>
                                    </div>
-->                              

                                    <div class="importantFlag">
                                        <!-- <img class="flagIcon" src="{{ url_for('static', filename='images/icons/flag.png') }}" alt="Flag icon"> -->
                                        <div class="importantFlagDescription"> 
                                            {{ flag.note }}
                                        </div>
                                        <div class="divideFlags"> </div>
                                    </div>
                                {% endfor %}

                                </div>
                            </div>

                            </div>

                            <!-- Student Details End  --> 
                            <!-- Residence/Caregiver Details Start  -->

                            <br>

                            <div class="residenceCaregiverDetailsContainer">

                                <div class="containerHeaderArea">
                                    <div class=chaItem3><p>Residence and Caregiver Details</p></div>
                                </div>

                                <div class="containerBody">
                                    <div class="containerBodyLeftRCDC">

                                        <div class="leftHeader">Residence A</div>

                                        {% for caregiver, relationship in caregivers %}
                                            {% if caregiver.alphanum == "A" %}
                                            

                                                <div class="leftAddress">{{ caregiver.address }}</div> 

                                                <div class="leftHeader">Caregiver {{caregiver.alphanum}}</div>
                                                <br>
                                                
                                                <div class="leftDetailsGridRCDC">
                                                    <div class="itemtopleftcorner"><p>Name</p></div>
                                                    <div class="itemtoprightcorner"><p>{{caregiver.name}}</p></div>
                                                    <div class="itemleft"><p>Relationship</p></div>
                                                    <div class="itemright"><p>{{ relationship }}</p></div>
                                                    <div class="itemleft"><p>Contact Email</p></div>
                                                    <div class="itemright"><p>{{caregiver.email}}</p></div>
                                                    <div class="itemleft"><p>Home Number</p></div>
                                                    <div class="itemright"><p>{{caregiver.home_number}}</p></div> 
                                                    <div class="itemleft"><p>Mobile Number</p></div>
                                                    <div class="itemright"><p>{{caregiver.mobile_number}}</p></div>
                                                    <div class="itembottomleftcorner"><p>Work Number</p></div>
                                                    <div class="itembottomrightcorner"><p>{{caregiver.work_number}}</p></div>

                                                </div>

                                            {% endif %}

                                        {% endfor %}

                                 
                                        <br><br>


                                    </div>

                                <div class="leftRightDivide"></div>

                                    <div class="containerBodyRightRCDC">

                                        <div class="rightHeader">Residence B</div>
                                        {% for caregiver, relationship in caregivers %}
                                        {% if caregiver.alphanum == "B" %}
                                            <div class="rightAddress">79 Different Street, Suburb, Auckland 1024</div> <!-- Hard-coded for now, will soon be queried from database -->
                                            <div class="rightHeader">Caregiver B</div>
                                            <br><br>
                                            <div class="rightDetailsGridRCDC">
                                                    <div class="itemtopleftcorner"><p>Name</p></div>
                                                    <div class="itemtoprightcorner"><p>{{caregiver.name}}</p></div>
                                                    <div class="itemleft"><p>Relationship</p></div>
                                                    <div class="itemright"><p>{{ relationship }}</p></div>
                                                    <div class="itemleft"><p>Contact Email</p></div>
                                                    <div class="itemright"><p>{{caregiver.email}}</p></div>
                                                    <div class="itemleft"><p>Home Number</p></div>
                                                    <div class="itemright"><p>{{caregiver.home_number}}</p></div> 
                                                    <div class="itemleft"><p>Mobile Number</p></div>
                                                    <div class="itemright"><p>{{caregiver.mobile_number}}</p></div>
                                                    <div class="itembottomleftcorner"><p>Work Number</p></div>
                                                    <div class="itembottomrightcorner"><p>{{caregiver.work_number}}</p></div>

                                            </div>
                                        {% endif %}
                                        {% endfor %}

                                    </div>


                                </div>

                            </div>
                            <!-- Residence Caregiver Details End  -->
                            <br><br>
                            <!-- Medical Details Start -->

                            <div class="medicalDetailsContainer">

                            <div class="containerHeaderArea">
                                <div class="chaItem1">
                                    <p>Medical Information</p>
                                </div>
                                <div class="chaItem2M">
                                    <p>Incident History</p>
                                </div>
                            </div>
                            <div class="containerBody">

                                
                                <div class="leftDetailsGrid">
                                    <div class="itemtopleftcorner"><p>-</p>-</p></div>
                                    <div class="itemtoprightcorner"><p>(-)</p></div>
                                    <div class="itemleft"><p>-</p></div>
                                    <div class="itemright"><p>(-)</p></div>
                                    <div class="itemleft"><p>- - -</p></div>
                                    <div class="itemright"><p>(-)</p></div>
                                    <div class="itemleft"><p>- </p></div>
                                    <div class="itemright"><p>(- )</p></div> 
                                    <div class="itemleft"><p>- </p></div>
                                    <div class="itemright"><p>(-)</p></div>
                                    <div class="itemleft"><p> -</p></div>
                                    <div class="itemright"><p>(- -)</p></div>
                                    <div class="itemleft"><p>- -</p></div>
                                    <div class="itemright"><p>(- -)</p></div>
                                    <div class="itembottomleftcorner"><p>- -</p></div>
                                    <div class="itembottomrightcorner"><p>(-)</p></div>
                                    </div>

                                <div class="leftRightDivide"></div>

                                <div class="rightDetailsMedical">
                                    <div class="medicalIncidents">incident history here</div>
                                </div>
                            </div>

                            </div>
                            <!-- Medical Details End  -->

                            <br><br>
                    <!-- End additions  -->
                </div>
                <div class="section pastoral" data-id="pastoral">
                    {% include "pastoral.html" %}
                </div>
                <div class="section academic" data-id="academic">
                    {% include "academic.html" %}
                </div>
                <div class="section awards" data-id="awards">
                    {% include "awards.html" %}
                </div>
                <div class="section extracurrilars" data-id="extracurrilars">

                </div>
                <div class="section timetable" data-id="timetable">
                    {% include "timetable.html" %}
                </div>
            </div>
        </div>
    </body>
</html>