<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
        <script src="{{ url_for('static', filename='javascript/student.js') }}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!--Title that children can override-->
        <title>{% block title %}Academic Reports{% endblock %}</title>
    </head>
    <body>
        <input type="hidden" id="studentId" value="{{ student_id }}">
        <div class="container">
            <div class="top">
                {% include 'topbanner.html' %}
            </div>
            <div class="side">
                {% include 'navBase2.html' %}
            </div>
            <div class="content" id="content">
                <div class="section profile active" data-id="profile">
                    
                </div>
                <div class="section pastoral" data-id="pastoral">
                    <!--Including pastoral student overview page's content-->
                    {% include "pastoralStudentReports.html" %}
                </div>
                <div class="section academic" data-id="academic">
                    {% include "academic.html" %}
                </div>
                <div class="section awards" data-id="awards">

                </div>
                <div class="section extracurrilars" data-id="extracurrilars">

                </div>
                <div class="section timetable" data-id="timetable">

                </div>
            </div>
        </div>
    </body>
</html>