<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
        <script src="{{ url_for('static', filename='javascript/student.js') }}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <!--Title that children can override-->
        <title>{% block title %}Academic Reports{% endblock %}</title>
    </head>
    <body>
        <input type="hidden" id="studentId" value="{{ student_id }}">
        <div class="container">
            <div class="top">
                {% include 'topbanner.html' %}
            </div>
            <div class="side">
                {% include 'navBase2.html' %}
            </div>
            <div class="content" id="content">
                <div class="section profile active" data-id="profile">
                    <div class="studentDetailsContainer">

                        <div class="containerHeaderArea">
                            <div class="chaItem1">
                                <p>Student Details</p>
                            </div>
                            <div class="chaItem2">
                                <p>Important</p>
                            </div>
                        </div>
                        <div class="containerBody">
                            
                            <div class="leftDetailsGrid">
                                <div class="itemtopleftcorner"><p>Preferred Name</p></div>
                                <div class="itemtoprightcorner"><p>(name)</p></div>
                                <div class="itemleft"><p>Gender</p></div>
                                <div class="itemright"><p>(gender)</p></div>
                                <div class="itemleft"><p>Date of Birth</p></div>
                                <div class="itemright"><p>(dob)</p></div>
                                <div class="itemleft"><p>School Email</p></div>
                                <div class="itemright"><p>(s email)</p></div> 
                                <div class="itemleft"><p>Personal Email</p></div>
                                <div class="itemright"><p>(p e,mail)</p></div>
                                <div class="itemleft"><p>item3</p></div>
                                <div class="itemright"><p>item4</p></div>
                                <div class="itemleft"><p>item1</p></div>
                                <div class="itemright"><p>item2</p></div>
                                <div class="itembottomleftcorner"><p>item3</p></div>
                                <div class="itembottomrightcorner"><p>item4</p></div>
                                </div>

                            <div class="leftRightDivide"></div>

                            <div class="rightImportant">
                                <div class="importantFlag">an important note here with a warning flag icon</div>
                            </div>
                        </div>

                        </div>

                    </div>
                    
                </div>
                <div class="section pastoral" data-id="pastoral">
                    {% include "pastoral.html" %}
                </div>
                <div class="section academic" data-id="academic">
                    {% include "academic.html" %}
                </div>
                <div class="section awards" data-id="awards">
                    {% include "awards.html" %}
                </div>
                <div class="section extracurrilars" data-id="extracurrilars">

                </div>
                <div class="section timetable" data-id="timetable">

                </div>
            </div>
        </div>
    </body>
</html>
<!-- 
                                <table class="detailsTable">
                                    <tr>
                                        <td>Preferred Name</td>
                                        <td>(Name)</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>(Gender)</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>(dob)</td>
                                    </tr> 
                                        <td>School Email</td>
                                        <td>(SchoolEmail)</td>
                                    </tr>
                                    <tr>
                                        <td>Personal Email</td>
                                        <td>(PersonalEmail)</td>
                                    </tr>
                                    <tr>
                                        <td>Home Number</td>
                                        <td>(HomeNumber)</td>
                                    </tr> 
                                        <td>Mobile Number</td>
                                        <td>(MobileNumber)</td>
                                    </tr>
                                    <tr>
                                        <td>Year Level</td>
                                        <td>(YearLevel)</td>
                                    </tr>
                                  
                                </table> -->