<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    </head>
    
    <body>

        <div class="psLogo">
            <img src="{{url_for('static', filename='images/portalLogo.png')}}" align="middle" />
        </div>

        <form method="POST">

            {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{category}}"> {{message}} </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            
            <div class="loginformflex">

                <div class="lfTop">
                    <div class="ltTopText">
                        <h2>Teacher Portal Login</h2>

                    </div>

                </div>
                
                <div class = lfLabel1>
                    <label for="email" >Email:</label>
                </div>       

                <div class = lfInput>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                </div>

                <div class = lfLabel2>
                    <label for="password">Password:</label>
                </div>

                <div class = lfInput>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
                </div>

                
                <button type="submit" class="btn btn-primary">Login</button>
                

            </div>
        </form>


    </body>

</html>