<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
        <script src="{{ url_for('static', filename='javascript/template.js') }}"></script>
        <!--Title that children can override-->
        <title>Academic Reports</title>
    </head>
    <body>
        <div class="container">
            <div class="top">
                {% include 'topbanner.html' %}
            </div>
            <div class="side">
                {% include 'navBase2.html' %}
            </div>
            <div class="content" id="content">
                TESTtttttttttttttttttttttttttttttttttttttttttttttttttttttttttinggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
                sdsad
            </div>
        </div>
    </body>
</html>