<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/topbanner.css') }}">
        <script src="{{ url_for('static', filename='javascript/topbanner.js') }}"></script>

        <!--Title that children can override-->
        <title>top banner</title>
    </head>
    <div class="banner" id="banner">
        <div class="top-background">
            <div class="top-banner">
                <div class="name">
                    <span id="name">
                        Name
                    </span>
                    <span>
                        <img src="{{ url_for('static', filename='images/icons/playbutton.png') }}" alt="playbutton icon">
                    </span>
                </div>
                <div class="search-bar">
                    <input class="search-input" type="text" id="search" placeholder="Search Students">
                    <img class="search-icon" src="{{ url_for('static', filename='images/icons/search.png') }}" alt="search icon">
                    <ul class="search-result" id="search-result">
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-banner">
            <button class="button" onclick="selected('profile')" data-id="profile">Profile</button>
            <button class="button" onclick="selected('pastoral')" data-id="pastoral">Pastoral Reports</button>
            <button class="button" onclick="selected('academic')" data-id="academic">Academic Reports</button>
            <button class="button" onclick="selected('awards')" data-id="awards">Awards</button>
            <button class="button" onclick="selected('extracurrilars')" data-id="extracurrilars">Extracurrilars</button>
            <button class="button" onclick="selected('timetable')" data-id="timetable">Timetable & Subjects</button>
        </div>
        <div class="profile-picture">
            <img class="picture" src="{{ url_for('static', filename='images/teachers/janeSmith.png') }}" alt="User profile picture">
        </div>
    </div>
</html>