<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/topbanner.css') }}">
        <script src="{{ url_for('static', filename='javascript/topbanner.js') }}"></script>

        <!--Title that children can override-->
        <title>top banner</title>
    </head>
    <div class="banner">
        <div class="top-background">
            test
        </div>
        <div class="top-banner">
            <div>
                Name
            </div>
            <div>
                Search
            </div>
        </div>
        <div class="bottom-banner">
            <button class="button">Profile</button>
            <button class="button">Pastoral Reports</button>
            <button class="button">Academic Reports</button>
            <button class="button">Awards</button>
            <button class="button">Extracurrilars</button>
            <button class="button">Timetable & Subjects</button>
        </div>
        <div class="profile-picture">
            <img class="picture" src="static/images/teachers/janeSmith.png" alt="User profile picture">
        </div>
    </div>
</html>